/* //#e9edf0: #E9EDF0;
#e9edf0: #e9edf0;
200px: 200px; */

body {
    height: 100%;
    box-sizing: border-box;
}

body {
    color: #d8d8d8;
    font: 16px/22px "Proxima Nova", sans-serif;
}

h2 {
    margin-top: 10px;
}
h1 {
    line-height: 30px;
    color: darken(desaturate(#e9edf0, 5%), 50%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4%;
    @media (min-width: 768px) {
        height: 100%;
    }
}

.mecontainer {
    /* transition: transform 1s ease, opacity 1s ease;
    transform: translateY(-40px);
    position: relative; */
    box-sizing: border-box;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    max-width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}

.profile {
    position: absolute;
    text-align: center;
    width: 200px;
    color: #fff;
    background-color: #595c836a;

    /* //background: rgba(0,0,0,.5) url(https://s-media-cache-ak0.pinimg.com/736x/f6/35/20/f63520cc780b82c25fd91559b12f3cf6.jpg) no-repeat top;
    background: rgba(0, 0, 0, 0.5)
        url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85280/hi_tech_texture-wallpaper-1024x768.jpg)
        no-repeat top;
    background-position: 40% 20%; */
    height: 514.9px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 12px 12px 0px 12px;
}
.meta {
    position: relative;
    z-index: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
}
.avatar {
    width: 100%;
    border-radius: 12px 0px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
h2 {
    font-size: 22px;
    margin-bottom: 2px;
}
.position {
    font-size: 13px;
}

a {
    color: #fff;
}

.portfolio {
    margin-left: 200px;
    padding: 50px !important;
    height: 414.9px;
    background-color: #595c836a;
}

@media (max-width: 670px) {
    .profile {
        position: relative;
        width: 100%;
        background-size: cover;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .avatar {
        width: 80px !important;
    }
    .portfolio {
        margin: 0;
    }
}

.text-center {
    text-align: center;
}
/* .label {
    display: normal;
    color: lighten(desaturate(#e9edf0, 10%), 5%);
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 3px;
    background: darken(desaturate(#e9edf0, 20%), 40%);
} */

a {
    text-decoration: none;
}

/* CV */

.cv {
    font-size: 12px;
}

/* Button */

/* about me info */

h4 {
    margin-top: 4%;
    margin-bottom: 0;
}

p {
    font-size: 10px;
    margin: 0;
}
